<div class="scrollbar gradient-bg-rev"></div>
<div id="top" style="display: block;">
    <div class="bar" style="width: 0;"></div>
    <a id="home-icon" class="image-icon icon-home iconfont animated fadeIn" href="javascript:;" data-url="<%= config.url %>"></a>
    <div id="play-icon" title="Play/Pause" class="iconfont icon-play animated fadeIn"></div>
    <h3 class="subtitle"><%- page.title %></h3>
    <div class="social">
<!--        <div class="like-icon">-->
<!--            <a href="javascript:;" class="likeThis active"><span class="icon-like"></span><span class="count">76</span></a>-->
<!--        </div>-->
        <div>
            <div class="share animated fadeIn">
                <% if (theme.sharejs && theme.sharejs.enable == true) { %>
                    <a href="javascript:;" class="iconfont icon-share1"></a>
                    <div class="share-component-cc" data-disabled="<%= theme.sharejs.disabled || '' %>"></div>
                <% } %>
            </div>
        </div>
    </div>
</div>
