<div class="scrollbar gradient-bg-rev"></div>
<div id="top" style="display: block;">
    <div class="bar" style="width: 0;"></div>
    <a class="icon-home image-icon" href="javascript:;" data-url="<%= config.url %>"></a>
    <div title="Play/Pause" class="icon-play"></div>
    <h3 class="subtitle"><%- page.title %></h3>
    <div class="social">
<!--        <div class="like-icon">-->
<!--            <a href="javascript:;" class="likeThis active"><span class="icon-like"></span><span class="count">76</span></a>-->
<!--        </div>-->
        <div>
            <div class="share">
                <a title="Get qrcode" class="icon-scan" href="javascript:;"></a>
            </div>
            <div id="qr"></div>
        </div>
    </div>
</div>
