/* Dracula Theme v1.2.5
 *
 * https://github.com/dracula/highlightjs
 *
 * Copyright 2016-present, All rights reserved
 *
 * Code licensed under the MIT license
 *
 * @author Denis Ciccale <dciccale@gmail.com>
 * @author Zeno Rocha <hi@zenorocha.com>
 */
 .hljs {
	font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
	display: block;
	position: relative;
	overflow-x: auto;
	padding: 45px 30px 30px 30px !important;
	clear: both;
	color: #fff;
	background: #100e17;
	font-size: 16px;
	color: #f8f8f2;
	blockquote {
		color: #fff;
		margin: 0 0 1.1em;
		border-left: 3px solid var(--dark);
		border-left-width: 6px;
		background-color: rgba(32,28,41,.75);
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		padding: 15px 20px;
		margin: 10px 0;
	}
	code {
		background: #001628;
		color: #fff;
		overflow-wrap: break-word;
		word-wrap: break-word;
		padding: .1rem .3rem .2rem;
		border-radius: .2rem;
		opacity: 0.9;
		scrollbar-color: #666;
		scrollbar-width: .5em;
		a {
			color: var(--secondary);
		}
	}
	.language-mark {
		position: absolute;
		top: 8px;
		left: 15px;
		font-weight: 900;
		color: var(--secondary);
	}
}
.language-mark[ref="css"] {
	color: #ff8a00;
}
.language-mark[ref="scss"] {
	color: #ff8a00;
}
.language-mark[ref="html"] {
	color: #4caf50;
}
.language-mark[ref=JSX] {
	color: #03a9f4;
}
.language-mark[ref=JavaScript] {
	color: #03a9f4;
	color: #ff79c6;
}
.language-mark[ref=jQuery] {
	color: #03a9f4;
	color: #ff79c6;
}
.language-mark[ref=php] {
	color: #ff79c6;
}
.hljs-built_in {
	color: #8be9fd;
}
.hljs-selector-tag {
	color: #8be9fd;
	font-weight: bold;
}
.hljs-section {
	color: #8be9fd;
	font-weight: bold;
}
.hljs-link {
	color: #8be9fd;
}
.hljs-keyword {
	color: #ff79c6;
	font-weight: bold;
}
.hljs-subst {
	color: #f8f8f2;
}
.hljs-title {
	color: #50fa7b;
	font-weight: bold;
}
.hljs-string {
	color: #f1fa8c;
}
.hljs-meta {
	color: #f1fa8c;
}
.hljs-name {
	color: #f1fa8c;
	font-weight: bold;
}
.hljs-type {
	color: #f1fa8c;
	font-weight: bold;
}
.hljs-attr {
	color: #f1fa8c;
}
.hljs-symbol {
	color: #f1fa8c;
}
.hljs-bullet {
	color: #f1fa8c;
}
.hljs-addition {
	color: #f1fa8c;
}
.hljs-variable {
	color: #f1fa8c;
}
.hljs-template-tag {
	color: #f1fa8c;
}
.hljs-template-variable {
	color: #f1fa8c;
}
.hljs-comment {
	color: #6272a4;
}
.hljs-quote {
	color: #6272a4;
}
.hljs-deletion {
	color: #6272a4;
}
.hljs-literal {
	font-weight: bold;
	color: #bd93f9;
}
.hljs-doctag {
	font-weight: bold;
}
.hljs-strong {
	font-weight: bold;
}
.hljs-number {
	color: #bd93f9;
}
.hljs-emphasis {
	font-style: italic;
}
