&:root {
	--font-color: #000;
	--night-font-color: #ddd;
	--primary: #b2fefa;
	--secondary: #0ed2f7;
	--dark: #0052d4;
	--gradient-light: #5d9eea;
	--gradient-middle: #0f27b5;
	--gradient-dark: #100e17;
	--code-gradient-light: #cff0ff;
	--code-gradient-dark: #afcafd;
	--maxwidth: 1284px;
}
.gradient-text {
	background: var(--primary) !important;
	background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
	background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	-webkit-box-decoration-break: clone !important;
	box-decoration-break: clone !important;
}
.gradient-bg {
	background: var(--primary) !important;
	background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
	background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
}
.gradient-bg-rev {
	background: var(--primary) !important;
	background: -webkit-linear-gradient(to right, var(--dark), var(--secondary), var(--primary)) !important;
	background: linear-gradient(to right, var(--dark), var(--secondary), var(--primary)) !important;
}
