<div class="set">
    <h1><%= theme.page_titles.tags || __("tags") %></h1>
    <div class="tagcloud">
        <%- tagcloud({min_font: 16, max_font: 16, amount: 200, color: true, start_color: '#0ed2f7', end_color: '#0052d4'}) %>
    </div>
</div>
